<script type="text/javascript">
  var geaketCodeWatermark = 'print("Type geaket code here");';

  $(function () {
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");

    editor.getSession().setValue($('#geaket_content').val());
    if(editor.getSession().getValue() == ""){
      editor.getSession().setValue(geaketCodeWatermark);
    }
    editor.on('focus', function(){
      if(editor.getSession().getValue() == geaketCodeWatermark){
        editor.getSession().setValue('');
      }
    });
    editor.on('blur', function(){
      if(editor.getSession().getValue() == ""){
        editor.getSession().setValue(geaketCodeWatermark);
      }
    });

    $('#editor').qtip({
       content: "Type code here", // Set the tooltip content to the current corner
       position: {
          corner: {
             tooltip: "bottomRight", // Use the corner...
             target: "topRight" // ...and opposite corner
          }
       },
       show: {
          when: false, // Don't specify a show event
          ready: false // Show the tooltip when ready
       },
       hide: false, // Don't specify a hide event
       style: {
          border: {
             //width: 5,
             radius: 10
          },
          //padding: 10,
          textAlign: 'center',
          tip: true, // Give it a speech bubble tip with automatic corner detection
          name: 'cream' // Style it according to the preset 'cream' style
       }
    });

    $('#geaket_title').watermark("Type title here");
    $('#geaket_tag_list').watermark("type, geaket, tags, here");

    $('#new_geaket').submit(function (e) {
      var editorValue = editor.getSession().getValue();
      $('#geaket_content').val(editorValue == geaketCodeWatermark ? "" : editorValue);
    });
  });
</script>
<%= form_for @geaket do |f| %>
  <div style="width: 625px;" class="green_section">
    <div class="section_header">
    </div>
    <div style="font-family: 'Droid Sans', arial, serif;" class="section_content">
      <h2 style="font-size: 14pt; color: #fff; margin: 0; padding: 0;">
        Tell it your way...</h2>
      <%= f.error_messages :header_tag => "h3", :header_message => "Not saved!", :message => "See error details bellow:" %>
      <table class="geaket_editor" style="padding-right: 10px; padding-top: 10px; width: 615px;">
          <tr>
            <td>Title:</td>
            <td><%= f.text_field :title %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.check_box :special %><%= f.label(:special, "I believe this geaket is funny") %></td>
          </tr>
          <tr>
            <td>Content:</td>
            <td>
            <pre id="editor" style="background-color: #E8E8E8;"></pre>
              <%= f.hidden_field :content %>
            </td>
          </tr>
          <tr>
            <td>Tags:</td>
            <td><%= f.text_field :tag_list %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "Submit" %></td>
          </tr>
        </table>
    </div>
    <div class="section_footer">
    </div>
  </div>
<% end %>
