<!DOCTYPE html>
<html>
  <head>
    <title>Geakets</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" %>
    <%= javascript_include_tag "jquery.shorten.min.js" %>
    <%= javascript_include_tag "jquery.watermark.min.js" %>
    <%= javascript_include_tag "prettify/prettify.js" %>
    <%= javascript_include_tag "ace-0.1.6/ace.js" %>
    <%= javascript_include_tag "ace-0.1.6/theme-clouds.js" %>
    <%= javascript_include_tag "jquery.qtip-1.0.0-rc3.min" %>
    <%= javascript_include_tag "application.js" %>
<%#= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
      $(function(){
        $('.geaket_subject').shorten({width: 170});
        $('.geaket_user').shorten({width: 120});
      });
    </script>
  </head>
  <body>
<%#= link_to "New Geaket", new_geaket_path %>
    <table style="margin: 0 auto 20px auto;" cellpadding="0" cellspacing="0">
      <tr>
        <td class="left_shadow">
        </td>
        <td class="content">
          <div style="padding: 0 12px;">
            <div style="position: relative;">
              <a href="/">
                <img src="/images/Geaketslogo.png" style="border: none;" /></a>
              <div id="componentDiv" style="position: absolute; top: 10px; right: 0;">
                <% if user_signed_in? %>
                  <%= link_to('Sign out', destroy_user_session_path, :method => 'delete', :class => "action") %>
                <% else %>
                  <%= link_to('Sign in', new_user_session_path, :class => "action") %><%= link_to('Sign up', new_user_registration_path, :class => "action") %>
                <% end %>
              </div>
              <div style="position: absolute; bottom: 0; right: 0; text-align: right; color: #676767; font-weight: bold; font-size: 20px;">
                <%= link_to 'About', about_path, :class => "action" %>
              </div>
            </div>
            <div>
              <div class="left_column">
                <% flash.each do |key, value| %>
                  <div class="flash <%= key %>"><%= value %></div>
                <% end %>
                <%= yield %>
              </div>
              <div class="right_column">
                <a href="<%= new_geaket_url %>" class="add_post" style="margin-top: 10px;">Add geaket!</a>
                <div class="orange_section" style="width: 300px; margin-top: 12px;">
                  <div class="section_header">
                  </div>
                  <div class="section_content" style="font-family: 'Droid Sans', arial, serif;">
                    <h2 style="font-size: 14pt; color: #fff; margin: 0; padding: 0;">Tags</h2>
                    <div style="padding-top: 10px; width: 280px; color: White;">
                      <ul id="tags">
                      <% popular_tags.each do |tag| %>
                        <li><a href="#" class="tag<%= tag_level(tag) %>"><%= tag.name %></a></li>
                      <% end %>
                      </ul>
                    </div>
                    <div style="clear: both; font-weight: bold; text-align: right; padding-right: 10px;">
                      <span style="font-size: 14pt; color: #fff; margin: 0; padding: 0; cursor: pointer;" onclick="loadMoreTopics();">View more...</span>
                    </div>
                  </div>
                  <div class="section_footer">
                  </div>
                </div>
                <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fapps%2Fapplication.php%3Fid%3D160901977301120&amp;width=300&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=290" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:290px; margin-top: 10px;" allowTransparency="true"></iframe>
              </div>
              <div style="clear: both;">
                <%= debug(params) if Rails.env.development? %>
              </div>
            </div>
          </div>
        </td>
        <td class="right_shadow">
        </td>
      </tr>
    </table>
  </body>
</html>
